@font-face {
    font-family: 'FuturaNDAlt';
    src: url('FuturaNDAlt-DemiBold.woff2') format('woff2'),
    url('FuturaNDAlt-DemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNDAlt';
    src: url('FuturaNDAlt-Book.woff2') format('woff2'),
    url('FuturaNDAlt-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNDAlt';
    src: url('FuturaNDAlt-Bold.woff2') format('woff2'),
    url('FuturaNDAlt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}