.blog {

	.resources {
		padding-top: em(120);
	}

	.articles {
		@include container();
		position: relative;
		z-index: 10;
	}

	.right-border {
		height: em(10);
		max-height: em(2300);
		top: em(760);
		z-index: 3;
		background-color: #693AF9;
		overflow: visible !important;

		&:before {
			content: '';
			background: url("./images/blog/blog_shape_part.png") center no-repeat;
			background-size: contain;
			width: 100%;
			height: em(20);
			position: absolute;
			right: 0;
			bottom: em(-16);
		}
	}

	.left-border {
		height: em(1900);
		top: em(1170);
		z-index: 2;
		background: #FFD002;
	}

	&-purple-shape {
		background: url("./images/blog/blog_purple_shape.svg") center no-repeat;
		background-size: contain;
		width: em(282);
		height: em(491);
		position: absolute;
		top: em(299);
		right: 0;
		z-index: 10;
	}

	&-yellow-shape {
		background: url("./images/blog/blog_yellow_shape.svg") center no-repeat;
		background-size: contain;
		width: em(583);
		height: em(890);
		position: absolute;
		top: em(299);
		left: 0;
		z-index: -1;

        @include breakpoint(1024) {
            top: em(350);
        }

		@include breakpoint(768) {
			top: 60vw;
		}

		@include breakpoint(630px) {
			top: 75vw;
		}
	}

	.blog {
		@include flexbox();
		@include flex_util(between);
		flex-wrap: wrap;

		@include breakpoint(768) {
			@include flex_util(center);
		}

		&._start {

			@include minBreakpoint(769px) {
				@include flex_util(start);

				.blog-post:last-child {
					margin-left: em(70);
				}
			}
		}

		&:not(.resources-blog) {

			.blog-post:first-child {

				@include minBreakpoint(769px) {
					width: 100%;
					flex: 0 0 100%;
					margin-bottom: em(160);
					@include flexbox();
					@include flex_util(between);

					.blog-image {
						width: 43%;
						flex: 0 0 43%;
						height: em(300);
					}

					.blog-content {
						width: 51%;
						flex: 0 0 51%;

						@include breakpoint(1024) {
							font-size: 1.4vw;
						}
					}

					.blog-specs {
						margin-top: em(22);
					}

					.blog-title {
						font-size: em(24);
						line-height: em(36,24);
					}

					.blog-text {
						font-size: em(20);
						margin-bottom: em(60, 20);
						height: auto;
					}

					.btn {
						font-size: 19px;
					}
				}
			}
		}

		&-post {
			width: em(340);
			margin-bottom: em(100);

			@include breakpoint(768) {
				width: 62vw;
				text-align: center;
			}

			@include breakpoint(550px) {
				width: 81vw;
			}

			& + .blog-post {

				@include breakpoint(768) {
					margin-top: 10vw;
				}
			}

			.btn {

				@include breakpoint(550px) {
					font-size: 4vw;
				}
			}
		}

		&-image {
			width: 100%;
			height: em(200);
			border-radius: em(18);
			overflow: hidden;

			@include breakpoint(768) {
				height: 36vw;
			}

			@include breakpoint(550px) {
				height: 47vw;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}

		&-specs {
			font-size: em(18);
			line-height: em(24, 18);
			margin-bottom: em(10);
			margin-top: em(20);

			@include breakpoint(1024) {
				font-size: 17px;
			}

			@include breakpoint(768) {
				font-size: 3vw;
				text-align: left;
			}

			@include breakpoint(550px) {
				font-size: 4vw;
			}
		}

		&-title {
			font-size: em(18);
			line-height: em(24, 18);
			font-weight: bold;
			margin-bottom: em(10, 18);
			min-height: em(48, 18);

			@include breakpoint(1024) {
				font-size: 17px;
			}

			@include breakpoint(768) {
				font-size: 4vw;
				text-align: left;
				margin-bottom: 6vw;
			}

			@include breakpoint(550px) {
				font-size: 5vw;
				margin-bottom: 10vw;
			}

			&-link {
				text-decoration: none;
				color: inherit;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&-text {
			font-size: em(18);
			line-height: em(24, 18);
			margin-bottom: em(36, 18);
			height: em(144, 18);
			overflow: hidden;

			@include breakpoint(1024) {
				font-size: em(17);
			}

			@include breakpoint(768) {
				font-size: em(40);
				text-align: left;
				height: auto;
			}

			@include breakpoint(550px) {
				font-size: 4vw;
				margin-bottom: 14vw;
			}
		}
	}
}

.article {
	padding-top: em(200);

    @include breakpoint(768) {
        padding-top: 4vw;
    }

	.right-border {
		height: 250%;
		max-height: 300%;
		top: em(300);
		z-index: 3;
		background-color: #693AF9;
	}

	.left-border {
		width: em(21);
		height: 200%;
		position: absolute;
		left: 0;
		top: em(630);
		z-index: 2;
		background: #F1055C;
	}

	&-purple-shape {
		background: url("./images/blog/article_purple_shape.svg") center no-repeat;
		background-size: contain;
		width: em(158);
		height: em(218);
		position: absolute;
		top: em(256);
		right: em(-1);
		z-index: 10;
	}

	&-red-shape {
		background: url("./images/blog/article_red_shape.svg") center no-repeat;
		background-size: contain;
		width: em(73);
		height: em(180);
		position: absolute;
		top: em(610);
		left: em(-1);
		z-index: 10;
	}

	&-container {
		display: grid;
		grid-template-columns:repeat(12, 1fr);;
		grid-template-rows: em(540) auto;
		grid-template-areas:
						"thumbnail thumbnail thumbnail thumbnail thumbnail post post post post post post post"
						"related related related related related post post post post post post post";
		grid-column-gap: em(36);
		grid-row-gap: em(36);

		@include container();

		@include breakpoint(1024) {
			font-size: 1.2vw;
		}

		@include breakpoint(768) {
			grid-template-areas:
				"thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail"
				"post post post post post post post post post post post post"
				"related related related related related related related related related related related related";
		}
	}

	&-thumbnail {
		grid-area: thumbnail;
		position: relative;
		overflow: hidden;
		margin-left: em(-140);
		z-index: 1;

		&-mask {
			background: url("./images/blog/mask_shape.png") center no-repeat;
			background-size: 92%;
			display: block;
			width: em(770);
			height: em(630);
			position: absolute;
			left: em(-114);
			top: em(-45);
			z-index: 10;

			@include breakpoint(1024) {
				left: -9vw;
			}

            @include breakpoint(768) {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-size: 113% 120%;
            }
		}

		img	{
			position: relative;
			z-index: 5;
			transform: scale(1.7) translate(-10%,10%);

            @include breakpoint(768) {
                transform: scale(1) translate(-2px, -2px);
            }
		}
	}

	b, strong {
		font-weight: 500;
	}

	&-share {
		width: em(118);
		display: block;
		position: absolute;
		z-index: 10;
		right: 0;
		bottom: 0;

        @include breakpoint(768) {
            font-size: 2vw;
        }

		&-title {
			width: 100%;
			font-size: em(14);
			color: #9A9A9A;
			line-height: em(24, 14);
			margin-bottom: em(4, 14);
		}

		&-links {
			width: 100%;
			@include flexbox();
			@include flex_util(between);
		}

		&-link {
			display: block;
			width: em(23);
			height: em(23);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			@include transition(opacity);

			&:hover {
				opacity: 0.8;
			}

			&._linkedin {
				background-image: url("./images/blog/linkedin.svg");
			}

			&._facebook {
				background-image: url("./images/blog/facebook.svg");
			}

			&._twitter {
				background-image: url("./images/blog/twitter.svg");
			}
		}
	}

	&-related {
		grid-area: related;

		@include breakpoint(1024) {
			font-size: 1.6vw;
		}

        @include breakpoint(768) {
            font-size: 3vw;
        }

		&-title {
			color: #F1055C;
			font-size: em(24);
			line-height: em(42, 24);
			font-weight: 500;
			margin-bottom: em(10, 24);
		}

		.blog-content {

			@include breakpoint(1024) {
				padding-left: 2vw;
			}
		}
	}

	.blog {

		&-post {
			width: 100%;
			flex: 0 0 100%;
			height: em(100);
			margin-bottom: em(12);
			padding-left: em(16);
			@include flexbox();
			@include flex_util(between, middle);
			border: em(1) solid transparent;
			border-radius: em(11);
			@include transition(border);

			&:hover {
				border: em(1) solid rgba(217,217,217,0.5);
			}

			.blog-image {
				width: em(90);
				flex: 0 0 em(90);
				height: em(55);
			}

			.blog-content {
				width: 75%;
				flex: 0 0 75%;
			}

			.blog-specs {
				font-size: em(12);
				line-height: em(20, 12);
				color: #9A9A9A;
				margin-top: 0;
				margin-bottom: 0;
			}

			.blog-title {
				font-size: em(13);
				line-height: em(17,13);
				margin-bottom: 0;
			}
		}
	}

	&-post {
		grid-area: post;
		padding-left: em(30);

        @include breakpoint(768) {
            font-size: 2.2vw;
        }

		&-title {
			font-size: em(40);
			line-height: em(60, 40);
			color: #693AF9;
			font-weight: bold;
			margin-bottom: em(66, 40);
		}

		&-excerpt, &-text {
			font-size: em(17);
			line-height: em(26, 17);
			margin-bottom: em(65, 17);
			position: relative;
			z-index: 10;
		}

		pre {
			font-family: 'FuturaNDAlt', Arial, sans-serif;
			text-transform: uppercase;
			margin: 0;
		}

		p + pre {
			margin-top: em(60);
		}

		p + p {
			margin-top: em(20);
		}

		h2 {
			margin-top: 0;
			margin-bottom: em(26, 21);
			line-height: em(30, 21);
		}
	}

	&-specs {
		@include flexbox();
		@include flex_util(between, middle);
		font-size: em(14);
		height: em(34, 14);
		margin-bottom: em(16, 14);

		.back-to-list {
			text-decoration: none;
			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}

		&-info {
			@include flexbox();
			@include flex_util(between);

			span {
			opacity: 0.5;
			}

			.author {
				margin-left: em(24);
                text-transform: uppercase;
			}
		}
	}
}