.footer {
	background: #6635FF;
	color: #ffffff;
	padding-top: em(88);
	padding-bottom: em(24);
	line-height: em(31);
	position: relative;
	z-index: 10;

	@include breakpoint(768) {
		font-size: 2.4vw;
		padding-top: em(60);
	}

	.left-border-bottom {
		width: em(21);
		height: 60%;
		position: absolute;
		left: 0;
		top: -59%;
		z-index: 10;
		background: linear-gradient(180deg, transparent 0%, transparent 60%, #6635FF 90%, #6635FF 100%);

		@include breakpoint(768) {
			display: none;
		}
	}

	.right-border-bottom {
		width: em(24);
		height: 60%;
		position: absolute;
		right: 0;
		top: -59%;
		z-index: 3;
		background: linear-gradient(180deg, transparent 0%, transparent 60%, #6635FF 90%, #6635FF 100%);

		@include breakpoint(768) {
			display: none;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}

	&-flex {
		@include flexbox();
		@include flex_util(between);
		flex-wrap: wrap;

		&-col {
			width: 50%;
			flex: 0 0 50%;

			@include breakpoint(768) {
				width: 100%;
				flex: 0 0 100%;
			}
		}
	}

	&-logo {
		display: inline-block;
		background: url("./images/logo_white.svg") center no-repeat;
		background-size: contain;
		width: em(200);
		height: em(40);
	}

	&-content {
		margin-bottom: em(46);
	}

	&-description {

		@include breakpoint(768) {
			margin-bottom: 10vw;
		}
	}

	&-description-text {
		font-size: em(18);
		width: em(412, 18);
	}

	&-links {
		@include flexbox();
		@include flex_util(between);

		&-block {

			&:first-child {

				.footer-links-block-title {

					@include breakpoint(768) {
						margin-bottom: em(25, 16);
					}
				}
			}

			&-title {
				font-size: em(16);
				font-weight: bold;
				line-height: em(19, 16);
				margin-bottom: em(30, 16);
			}
		}
	}

	&-link {
		display: block;
		font-size: em(18);
		line-height: em(41, 18);
	}

	&-social {
		margin-bottom: em(64);

		@include breakpoint(768) {
			margin-bottom: em(30);
		}

		&-link {
			display: inline-block;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: em(40);
			height: em(28);
			@include transition(opacity);

			&:hover {
				OPACITY: 0.7;
			}

			&._facebook {
				background-image: url("./images/footer/social_fb.svg");
			}

			&._twitter {
				background-image: url("./images/footer/social_twitter.svg");
			}

			&._instagram {
				background-image: url("./images/footer/social_insta.svg");
			}

			&._linkedin {
				background-image: url("./images/footer/social_in.svg");
			}
		}
	}

	&-location {
		text-align: right;
		font-size: em(18);
		line-height: em(41, 18);

		@include breakpoint(768) {
			text-align: left;
			margin-top: em(30, 18);
		}

		&-link {
			position: relative;
			padding-left: em(30, 18);

			&:before {
				content: '';
				display: block;
				width: em(18, 18);
				height: em(24, 18);
				position: absolute;
				left: 0;
				top: 0;
				background: url("./images/footer/pin.svg") center no-repeat;
				background-size: contain;
			}
		}
	}

	&-copyright-text {
		font-size: em(18);
	}

	&-contacts {
		font-size: em(18);
		text-align: right;

		@include breakpoint(768) {
			display: none;
		}

		a + a {
			margin-left: em(24, 18);
		}
	}
}