.hero {
	margin-top: em(95);
	position: relative;

	&-container {
		@include container();
		padding-top: em(100);
		padding-bottom: em(200);

		@include breakpoint(1024) {
			font-size: 1.3vw;
		}

		@include breakpoint(425px) {
			font-size: 2vw;
		}
	}

	&:before {
		content: '';
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		width: em(920);
		height: em(636);

		position: absolute;
		top: em(20);
		right: em(80);
		z-index: 1;
	}

	&-solutions {

		.hero-container {

			@include breakpoint(768) {
				padding-top: 50vw;
				text-align: center;
			}
		}

		.hero-text {
			color: #FFFFFF;
			text-shadow: em(2) em(2) em(2) rgba(0,0,0,0.25);
		}

		&:before {
			background-image: url("./images/solutions/solutions_hero_1440.png");
			width: 100%;
			height: em(835);
			top: em(-97);
			right: em(0);

			//@include breakpoint(768) {
			//	width: 70vw;
			//    height: 50vw;
			//    right: 0;
			//    top: -4vw;
			//}
		}
	}

	&-solutions-2 {

		.hero-container {

			@include breakpoint(768) {
				font-size: 2vw;
				padding-top: 60vw;
				padding-bottom: 20vw;
				text-align: center;
			}
		}

		.hero-text {
			margin-bottom: em(30);
			margin-top: em(20);
			color: #FFFFFF;
			text-shadow: em(2) em(2) em(2) rgba(0,0,0,0.25);

			@include breakpoint(768) {
				margin-bottom: 0;
			}
		}

	    &:before {
			background-image: url("./images/solutions/solutions_hero_1440.png");
			width: 100%;
			height: em(835);
			top: em(-95);
			right: em(0);

			//@include breakpoint(768) {
			//	width: 70vw;
			//    height: 55vw;
			//}
		}
	}

	&-home {

		&:before {
			background-image: url("./images/home/brain_illu.svg");
			width: em(600);
			height: em(540);
			right: em(170);
			top: em(20);

			@include breakpoint(1024) {
				right: em(110);
			}

            @include breakpoint(768) {
                position: static;
                margin: em(110) auto 0;
				font-size: 1.2vw;
            }

            @include breakpoint(550px) {
                font-size: 1.6vw;
            }
		}

		&:after {
			content: '';
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url("./images/home/hero_home_gradient.svg");
			display: block;
			width: 100%;
			height: em(850);

			position: absolute;
			top: em(-130);
			right: 0;
			z-index: -1;

            @include breakpoint(768) {
                content: none;
            }
		}

        .hero-text {

            @include breakpoint(768) {
				font-size: 6vw;
            }

            @include breakpoint(768) {
                font-size: 8vw;
            }
        }

        .hero-container {

            @include breakpoint(768) {
                text-align: center;
            }
        }

        .hero-buttons {
            @include flexbox();
            @include flex_util(start);
            flex-wrap: wrap;

            @include breakpoint(768) {
                @include flex_util(center);
				width: 50vw;
                margin: 0 auto;
            }

            .btn {

                @include breakpoint(768) {
                    margin-bottom: em(20);
                    margin-left: 0;
                }
            }
        }
	}

	&-edge {

		@include breakpoint(550px) {
			margin-top: 0;
			overflow: hidden;
		}

		&:before {
			background-image: url("./images/edge/hero_our_edge.png");
			width: em(970);
			height: em(582);
			left: em(-20);
			top: em(-22);

			@include breakpoint(1024) {
				top: em(50);
			}

			@include breakpoint(768) {
				top: 0;
			}

			@include breakpoint(550px) {
				width: 113vw;
				height: 69vw;
			}
		}

		.hero-container {
			@include flexbox();
			@include flex_util(end,middle);
			padding-bottom: em(60);

			@include breakpoint(768) {
				padding-top: 0;
			}
		}

		.hero-text {
			width: em(576, 48);
			margin-top: em(30, 48);
			margin-bottom: em(220, 48);

			@include breakpoint(1024) {
				font-size: em(40);
				margin-bottom: em(120, 40);
				margin-top: em(50, 40);
			}

			@include breakpoint(550px) {
				margin-top: 75vw;
				font-size: 6vw;
				margin-bottom: 5vw;
			}
		}
	}

	&-story {

		&:before {
			background-image: url("./images/story/hero_our_story_1920.png");
			width: em(977);
			height: em(753);
			right: 0;
			top: em(-72);

			@include breakpoint(1024) {
				right: em(-150);
			}

			@include breakpoint(768) {
				font-size: 0.85em;
			}

			@include breakpoint(550px) {
				right: 0;
			    width: 90vw;
			    height: 80vw;
			    top: -17vw;
			}
		}

		.hero-text {
			width: em(500, 48);
			margin-top: em(30, 48);

			@include breakpoint(768) {
				margin-top: em(-100, 48);
			}

			@include breakpoint(550px) {
				margin-top: 55vw;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			    width: 80%;
    			font-size: 6vw;
			}
		}

		.hero-container {
			padding-bottom: em(78);
		}
	}

	&-careers {

		&:before {
			background-image: url("./images/careers/hero_careers.png");
			width: em(914);
			height: em(564);
			left: 0;
			top: 0;

			@include breakpoint(550px) {
				width: 95vw;
				height: 58vw;
			}
		}

		.hero-container {
			@include flexbox();
			@include flex_util(end,middle);
			padding-bottom: em(60);
		}

		.hero-text {
			width: em(480, 48);
			margin-top: em(30, 48);
			margin-bottom: em(220, 48);

			@include breakpoint(1024) {
				margin-bottom: em(80, 48);
			}

			@include resize_screen(768px,551px) {
				text-align: right;
			}

			@include breakpoint(550px) {
				margin: em(600, 60) auto em(50, 60);
				width: 70%;
				font-size: em(60);
				text-align: center;
			}

			@include breakpoint(420px) {
				margin-top: em(450, 60);
			}
		}
	}

	&-blog {

		&:before {
			background-image: url("./images/blog/hero_blog.png");
			width: em(1083);
			height: em(624);
			right: em(-35);
			top: em(3);
			z-index: -1;
		}

		.hero-text {
			margin-top: em(36, 48);
		}
	}

	&-text {
		$hero_text_fsz: 48px;

		font-size: em($hero_text_fsz);
		line-height: em(60, $hero_text_fsz);
		color: #0E0E0E;
		margin: 0 0 em(84, $hero_text_fsz);
		position: relative;
		z-index: 5;

		//@include breakpoint(1024) {
		//	font-size: 40px;
		//}
	}
}