.navigation {
	padding: 0;
	height: em(95);
	position: fixed;
	left: 0;
	top: 0;
	right: em(-1);
	z-index: 1000;
	transition: all 0.3s ease-out;
	will-change: height;

	// To avoid jittery on window.scroll function
	-webkit-backface-visibility:hidden;
	-webkit-transform: translateZ(0);

	@include breakpoint(1350px) {
		font-size: 12px;
	}

	@include breakpoint(1150px) {
		font-size: 1vw;
	}

	@include breakpoint(1150px) {
		font-size: 1.3vw;
	}

	&:hover {
		background: rgba(255,255,255,0.98);
		box-shadow: 0 em(6) em(21) 0 rgba(0,0,0,0.11);
	}

	@include flexbox();
	@include flex_util(middle);

	.container {

		@include minBreakpoint(769px) {
			@include flexbox();
			@include flex_util(between, middle);
		}

		@include breakpoint(1150px) {
			width: 90%;
		}
	}

	.logo-wrapper {
		position: relative;
		display: inline-block;
		width: em(200);
		height: em(40);
		top: em(2);
	}

	.logo {
		display: inline-block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	&.animate .logo {
		will-change: transform;
		transform: translate(0, 0);

		-webkit-animation: logo-oo-reverse 0.3s ease; /* Safari 4+ */
		-moz-animation:    logo-oo-reverse 0.3s ease; /* Fx 5+ */
		-o-animation:      logo-oo-reverse 0.3s ease; /* Opera 12+ */
		animation:         logo-oo-reverse 0.3s ease; /* IE 10+, Fx 29+ */

		.fade {
			will-change: opacity;
			opacity: 1;

			-webkit-animation: logo-reverse 0.3s ease; /* Safari 4+ */
			-moz-animation:    logo-reverse 0.3s ease; /* Fx 5+ */
			-o-animation:      logo-reverse 0.3s ease; /* Opera 12+ */
			animation:         logo-reverse 0.3s ease; /* IE 10+, Fx 29+ */
		}
	}

	@-webkit-keyframes logo-reverse {
		0% { opacity: 0; }
		100%   { opacity: 1; }
	}

	@-moz-keyframes logo-reverse {
		0% { opacity: 0; }
		100%   { opacity: 1; }
	}

	@-o-keyframes logo-reverse {
		0% { opacity: 0; }
		100%   { opacity: 1; }
	}

	@keyframes logo-reverse {
		0% { opacity: 0; }
		100%   { opacity: 1; }
	}

	@-webkit-keyframes logo-oo-reverse {
		0% { transform: translate(em(-107), 0); }
		100%   { transform: translate(0, 0); }
	}

	@-moz-keyframes logo-oo-reverse {
		0% { transform: translate(em(-107), 0); }
		100%   { transform: translate(0, 0); }
	}

	@-o-keyframes logo-oo-reverse {
		0% { transform: translate(em(-107), 0); }
		100%   { transform: translate(0, 0); }
	}

	@keyframes logo-oo-reverse {
		0% { transform: translate(em(-107), 0); }
		100%   { transform: translate(0, 0); }
	}

	&._floating {
		background: rgba(255,255,255,0.9);
		box-shadow: 0 em(6) em(21) 0 rgba(0,0,0,0.11);
		height: em(80);

		&:hover {
			background: #FFFFFF;
		}

		.logo {
			transform: translate(em(-107), 0);

			-webkit-animation: logo-oo 0.3s ease; /* Safari 4+ */
			-moz-animation:    logo-oo 0.3s ease; /* Fx 5+ */
			-o-animation:      logo-oo 0.3s ease; /* Opera 12+ */
			animation:         logo-oo 0.3s ease; /* IE 10+, Fx 29+ */

			.fade {
				opacity: 0;

				-webkit-animation: logo 0.3s ease; /* Safari 4+ */
				-moz-animation:    logo 0.3s ease; /* Fx 5+ */
				-o-animation:      logo 0.3s ease; /* Opera 12+ */
				animation:         logo 0.3s ease; /* IE 10+, Fx 29+ */
			}
		}
	}

	@-webkit-keyframes logo {
		0%   { opacity: 1; }
		100% { opacity: 0; }
	}

	@-moz-keyframes logo {
		0%   { opacity: 1; }
		100% { opacity: 0; }
	}

	@-o-keyframes logo {
		0%   { opacity: 1; }
		100% { opacity: 0; }
	}

	@keyframes logo {
		0%   { opacity: 1; }
		100% { opacity: 0; }
	}

	@-webkit-keyframes logo-oo {
		0%   { transform: translate(0, 0); }
		100% { transform: translate(em(-107), 0); }
	}

	@-moz-keyframes logo-oo {
		0%   { transform: translate(0, 0); }
		100% { transform: translate(em(-107), 0); }
	}

	@-o-keyframes logo-oo {
		0%   { transform: translate(0, 0); }
		100% { transform: translate(em(-107), 0); }
	}

	@keyframes logo-oo {
		0%   { transform: translate(0, 0); }
		100% { transform: translate(em(-107), 0); }
	}

	.page-template-solutions-page &,
	.page-template-back-office-page & {

		&:not(._floating) {

			ul .nav-link {
				color: #FFFFFF;

				.submenu .nav-link {
					color: #FFFFFF;
				}
			}
		}

		.logo {
			background: url("./images/logo_white.svg") center no-repeat;

			svg {
				opacity: 0;
				transition: opacity 0.2s ease-out;
			}
		}

		&:hover {

			.logo {
				background: none;

				svg {
					opacity: 1;
				}
			}

			ul .nav-link {
				color: #4B4B4B;

				&:hover {
					color: #FFFFFF;
				}
			}
		}

		&._floating {

			.logo {
				background: none;

				svg {
					opacity: 1;
				}
			}
		}
	}



	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		position: relative;
		top: em(3);

		li {
			display: inline-block;
			position: relative;

			&.contact-link {
				position: relative;
				margin: 0;

				&:before {

					@include minBreakpoint(769px) {
						content: '';
						display: inline-block;
						width: em(1);
						height: em(13);
						background-color: #C8C9CC;
						margin: 0 em(32) 0 em(10);
					}
				}
			}
		}

		.nav-link {
			color: #4B4B4B;
			font-size: em(15);
			line-height: em(47, 15);
			height: em(47, 15);
			text-decoration: none;
			position: relative;
			display: inline-block;
			padding: 0 em(13, 15);
			border-radius: em(8, 15);
			transition: background-color 0.2s ease-out, color 0.2s ease-out;

			&._solutions:hover {
				background: none !important;
			}

			span {
				z-index: 10;
				position: relative;
			}

			&:hover {
				color: #FFFFFF;

				.page-template-solutions-page & {
					background-color: #F1055C;
				}

				.page-template-back-office-page & {
					background-color: #3693FF;
				}

				.home & {
					background-color: #00D2AB;
				}

				.page-template-our-edge-page & {
					background-color: #693AF9;
				}

				.page-template-our-story-page & {
					background-color: #330040;
				}

				.page-template-careers-page & {
					background-color: #D80458;
				}

				.blog & {
					background-color: #693AF9;
				}

				.single & {
					background-color: #693AF9;
				}

				.page-template-contact-page & {
					background-color: #693AF9;
				}
			}
		}

		@include minBreakpoint(769px) {

			.submenu {
				position: absolute;
				top: em(48);
				left: 0;
				display: block;
				width: auto;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.2s ease, visibility 0.01s linear 0.2s, background 0.2s ease;
				box-shadow: 0 em(12) em(21) 0 rgba(0,0,0,0.11);
				border-radius: em(8);

				&:before {
					content: '';
					display: block;
					width: em(104);
					height: em(60);
					position: absolute;
					left: 0;
					top: em(-48);
					border-radius: em(8);

					.page-template-solutions-page & {
						background-color: #F1055C;
					}

					.page-template-back-office-page & {
						background-color: #3693FF;
					}

					.home & {
						background-color: #00D2AB;
					}

					.page-template-our-edge-page & {
						background-color: #693AF9;
					}

					.page-template-our-story-page & {
						background-color: #330040;
					}

					.page-template-careers-page & {
						background-color: #D80458;
					}

					.blog & {
						background-color: #693AF9;
					}

					.single & {
						background-color: #693AF9;
					}

					.page-template-contact-page & {
						background-color: #693AF9;
					}
				}

				.mask {
					display: block;
					width: em(8);
					height: em(8);
					position: absolute;
					top: em(-8);
					left: em(104);

					&:before, &:after {
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						bottom: 0;
					}

					&:before {

						.page-template-solutions-page & {
							background-color: #F1055C;
						}

						.page-template-back-office-page & {
							background-color: #3693FF;
						}

						.home & {
							background-color: #00D2AB;
						}

						.page-template-our-edge-page & {
							background-color: #693AF9;
						}

						.page-template-our-story-page & {
							background-color: #330040;
						}

						.page-template-careers-page & {
							background-color: #D80458;
						}

						.blog & {
							background-color: #693AF9;
						}

						.single & {
							background-color: #693AF9;
						}

						.page-template-contact-page & {
							background-color: #693AF9;
						}
					}

					&:after {
						border-radius: 50%;
						background: #FFFFFF;
						width: em(20);
						height: em(20);
					}
				}

				.page-template-solutions-page & {
					background-color: #F1055C;
				}

				.page-template-back-office-page & {
					background-color: #3693FF;
				}

				.home & {
					background-color: #00D2AB;
				}

				.page-template-our-edge-page & {
					background-color: #693AF9;
				}

				.page-template-our-story-page & {
					background-color: #330040;
				}

				.page-template-careers-page & {
					background-color: #D80458;
				}

				.blog & {
					background-color: #693AF9;
				}

				.single & {
					background-color: #693AF9;
				}

				.page-template-contact-page & {
					background-color: #693AF9;
				}

				.nav-link {
					height: em(40);
					line-height: em(42);
					color: #FFFFFF;
					white-space: nowrap;

					&:hover {
						text-decoration: underline;
					}

					&:before {
						bottom: em(8);
					}

					&:first-child {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						border-bottom: 1px solid rgba(255,255,255,0.3);
					}
				}
			}
		}
		
		.nav-link:hover .submenu {
			opacity: 1;
			visibility: visible;
			transition: opacity 0.2s ease, background 0.2s ease;
		}
	}

	// Mobile menu styles

	@include breakpoint(768) {
		position: fixed;
		top: 2vw;
		left: auto;
		right: 2vw;
		bottom: 2vw;
		width: calc(100% - 4vw);
		max-width: em(600);
		background: #8A57FF;
		height: calc(100% - 4vw);
		-webkit-border-radius: 4vw;
		-moz-border-radius: 4vw;
		border-radius: 4vw;
		opacity: 0;
		visibility: hidden;
		z-index: 110;
		font-size: 10px;
		box-shadow: 0 em(6) em(21) 0 rgba(0,0,0,0.11);

		.menu-open & {
			opacity: 0.95;
			visibility: visible;
		}

		&:hover {
			background: #8A57FF;
		}

		.container {
			width: 100%;
			height: 100%;
			padding-top: 5vw;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}

		.logo-wrapper {
			width: em(200);
			height: em(60);
			left: 7.5%;
		}

		.logo {

			svg {
				display: none;
			}

			background: url("./images/logo_white.svg") center no-repeat;
		}

		ul {
			width: 85%;
			padding: em(20) 0;
			margin: 0 auto;

			li {
				display: block;

				& + li {
					border-top: 1px solid rgba(255,255,255,0.2);
				}

				&:first-child {
					height: em(220);
				}
			}

			.nav-link, .btn-primary {
				color: #FFFFFF;
				font-size: em(30, 15);
				font-weight: 500;
				background: none;
				padding: 0;
				box-shadow: none;
				width: 100%;

				&:hover {
					background: none !important;
				}
			}
			
			.submenu {
				@include flexbox();
				flex-wrap: wrap;

				.nav-link {
					width: 100%;
					flex: 0 0 100%;
					text-transform: uppercase;
					font-weight: normal;
					line-height: em(30);
					height: em(30);
					font-size: em(30, 30);
				}
			}
		}
	}

	@include breakpoint(550px) {

		ul {

			.submenu {

				.nav-link {
					width: 50%;
					flex: 0 0 50%;
					line-height: em(30);
					height: em(80);
				}
			}
		}
	}
}

.top-mobile-bar {
	display: none;

	.menu-open & {
		opacity: 0;
	}

	@include breakpoint(768) {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		height: em(150);
		display: block;
		background: rgba(255,255,255,0.9);
		box-shadow: 0 em(6) em(21) 0 rgba(0,0,0,0.11);
		z-index: 100;
		opacity: 1;
		@include transition(opacity);
	}

	@include breakpoint(550px) {
		font-size: 5px;
	}

	.logo {
		display: inline-block;
		background: url("./images/logo.svg") center no-repeat;
		background-size: contain;
		width: em(340);
		height: em(75);
		position: absolute;
		top: 50%;
		left: em(50);
		transform: translate(0, -50%);
	}
}

.menu-toggle {
	font-size: 6px;

	@include minBreakpoint(769px) {
		display: none;
	}

	&._open {
		position: absolute;
		top: 50%;
		right: em(40);
		width: em(70);
		height: em(70);
		transform: translate(0, -50%);

		&:before, &:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 6px;
			background: #F1055C;
			top: 0;
			left: 0;
		}

		&:after {
			top: auto;
			bottom: 0;
		}

		span {
			display: block;
			width: 100%;
			height: 6px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
			background: #F1055C;
		}
	}

	&._close {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		position: absolute;
		top: em(40);
		right: em(40);
		width: em(70);
		height: em(70);

		@include breakpoint(550px) {
			top: em(25);
			right: em(25);
		}

		&:hover {
			&:before, &:after {
				background: rgba(255,255,255,0.6);
			}
		}

		&:before, &:after {
			position: absolute;
			content: '';
			width: 100%;
			height: em(6);
			background: #fff;
			top: 50%;
			transform: translate(3%, 0);

			@include transition(background);
		}

		&:after {
			height: 100%;
			width: em(6);
			top: em(3);
			left: 50%;
			transform: translate(0, 1%);
		}
	}
}