.page-template-solutions-page {

	&:before {
		content: '';
		background-image: 	url("./images/channels/channels_chat.svg"),
							url("./images/channels/channels_voice.svg"),
							url("./images/channels/channels_in_app.svg"),
							url("./images/channels/channels_email.svg"),
							url("./images/channels/channels_social.svg"),
							url("./images/channels/channels_sms.svg"),
							url("./images/channels/channels_chat_white.svg"),
							url("./images/channels/channels_voice_white.svg"),
							url("./images/channels/channels_in_app_white.svg"),
							url("./images/channels/channels_email_white.svg"),
							url("./images/channels/channels_social_white.svg"),
							url("./images/channels/channels_sms_white.svg");
	}
}


.services {

	$slider_buttons: (
			'Customer Service',
			'Language Interpretation',
			'Technical Support',
			'Sales',
			'Billing'
	);

	$slider_icons: (
			'customer_service',
			'language',
			'technical_support',
			'sales',
			'billing'
	);

	position: relative;
	z-index: 2;

	.container {

		@include breakpoint(768) {
			margin-right: 0;
		}

		@include breakpoint(550px) {
			width: 98%;
		}
	}

	.description-cloud {
		$desc_cloud_fsz: 23px;

		font-size: em($desc_cloud_fsz);
		line-height: em(34, $desc_cloud_fsz);
		color: #FFFFFF;
		background-color: #330040;
		font-weight: normal;

		position: relative;
		top: em(-42, $desc_cloud_fsz);
		width: 100%;
		border-radius: em(34, $desc_cloud_fsz) em(100, $desc_cloud_fsz) em(100, $desc_cloud_fsz) em(100, $desc_cloud_fsz);
		padding: em(64, $desc_cloud_fsz) em(282, $desc_cloud_fsz) em(96, $desc_cloud_fsz) em(96, $desc_cloud_fsz);
		z-index: 5;

		@include breakpoint(768) {
			font-size: em(42);
			padding-right: em(64, $desc_cloud_fsz);
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		@include breakpoint(425px) {
			font-size: 4vw;
		}
	}

	&-purple-shape {
		background: url("./images/solutions_hero_shape.svg") center no-repeat;
		background-size: contain;
		width: em(416);
		height: em(636);
		position: absolute;
		top: -35.4%;
		right: em(-6);
		z-index: 10;

		@include breakpoint(768) {
			background-image: url("./images/solutions_mobile_hero_shape.svg");
		    width: 30vw;
    		height: 58vw;
		    right: auto;
		    left: 0;
		    top: -78vw;
		}

		@include breakpoint(420px) {
			top: -108vw;
		}
	}

	.right-border {
		height: em(10);
		max-height: 300%;
		top: em(-170);
		z-index: 3;
		background-color: #F1055C;

		&._full {
			height: 260% !important;
		}

		&._animate-down {
			transition: height 1.4s ease-in-out;
		}

		&._animate {
			transition: height 0.2s ease-out;
		}

		.trigger {
			display: block;
			width: 100%;
			height: 0;
			position: absolute;
			left: 0;
			bottom: 0;

			&:before {
				content: '';
				background: url("./images/solutions_hero_shape_part.png") center no-repeat;
				background-size: contain;
				width: 101%;
				height: em(7);
				position: absolute;
				left: 0;
				top: em(-1.5);
			}
		}
	}

	.left-border {
		height: 105%;
		top: em(50);
		z-index: 2;
		background: linear-gradient(180deg, #08E1F2 0%, #08E1F2 70%, #FFD002 90%, #FFD002 100%, #FFD002 100%);
	}

	&-wrapper {
		padding-left: em(235);
		padding-top: em(40);
		position: relative;
		z-index: 4;
		width: 100%;

		@include breakpoint(768) {
			font-size: 14px;
			padding-left: 0;
		}

		@include breakpoint(550px) {
			font-size: 2.5vw;
		}

		@include breakpoint(425px) {
			font-size: 3vw;
		}
	}

	&-title {
		$services_title_fsz: 74px;

		font-size: em($services_title_fsz);
		line-height: em(74, $services_title_fsz);
		color: #08E1F2;
		margin: 0 0 em(25, $services_title_fsz);
		position: relative;

		@include breakpoint(768) {
			padding-left: em(80, $services_title_fsz);
		}

		&:before {
			content: 'S';
			color: #ffffff;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 1.05em;

			@include breakpoint(768) {
				left: em(75, $services_title_fsz);
			}
		}

		.services-blue-shape {
			background: url("./images/services/services_shape.svg") center no-repeat;
			background-size: contain;
			width: em(300, $services_title_fsz);
			height: em(510, $services_title_fsz);

			position: absolute;
			left: em(-240, $services_title_fsz);
			top: em(-400, $services_title_fsz);
			z-index: -1;

			@include breakpoint(768) {
				top: em(-266, $services_title_fsz);
				left: em(-68, $services_title_fsz);
				width: em(200, $services_title_fsz);
				height: em(350, $services_title_fsz);
			}
		}
	}

	&-description {
		$services_desc_fsz: 18px;

		font-size: em($services_desc_fsz);
		line-height: em(26, $services_desc_fsz);
		color: #484848;
		width: em(600, $services_desc_fsz);

		@include breakpoint(768) {
			padding-left: em(80, $services_desc_fsz);
			padding-right: em(80, $services_desc_fsz);
			width: 100%;
		}
	}

	&-slide {
		text-align: center;
		padding-bottom: em(50);
		opacity: 0 !important;

		@include breakpoint(768) {
			padding: 0 15%;
		}

		&.swiper-slide-active {
			opacity: 1 !important;
		}

		&-title {
			$slide_title_fsz: 30px;
			font-size: em($slide_title_fsz);
			color: #1E1E1E;
			line-height: em(36, $slide_title_fsz);
			text-align: center;
			font-weight: 500;
			margin: em(23, $slide_title_fsz) 0;
		}

		&-description {
			color: #484848;
			font-size: em(18);
			line-height: em(26, 18);
			text-align: center;
		}

		i {
			display: inline-block;
			margin: 0 auto;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: em(122);
			height: em(108);
		}

		@for $i from 1 through length($slider_icons) {
			$c: nth($slider_icons, $i);

			.icon-#{$c} {
				background-image: url("./images/services/slide_#{$c}.svg");
			}
		}
	}

	.slider {
		position: relative;
		padding-top: em(230);
		padding-bottom: em(230);

		&.slider-desktop {

			@include breakpoint(768) {
				display: none;
			}
		}

		&.slider-mobile {
			display: none;

			@include breakpoint(768) {
				display: block;
				padding-top: em(100);
				padding-bottom: em(200);
			}
		}
	}

	.swiper {

		&-container {
			width: em(472);
			height: em(420);
			margin: 0 0 0 em(130);
			position: relative;
			overflow: visible;

			@include breakpoint(768) {
				width: 100%;
				margin: 0;
				height: em(340);
			}

			&:before {
				content: '';
				background: url("./images/services/services_bg.svg") center no-repeat;
				display: block;
				width: em(940);
				height: em(620);

				position: absolute;
				bottom: em(-100);
				left: em(-372);
				z-index: 1;
				opacity: 0.8;

				@include breakpoint(768) {
					display: none;
				}
			}
		}

		@include minBreakpoint(769px) {

			&-pagination {
				right: 0;
				top: em(45);

				&-bullet {
					position: relative;
					margin: em(48) 0;
					width: auto;
					height: auto;
					background: transparent;
					opacity: 1;
					display: block;

					.dots {
						position: absolute;
						left: em(-31);
						top: 50%;
						z-index: 5;
						display: block;
						margin-top: em(-2);
						background: url("./images/services/ribbon_dot_small.svg") right center repeat-x;
						background-size: contain;
						height: em(5);
						width: em(210);

						&:before {
							content: '';
							background: url("./images/services/ribbon_cutout.svg") center no-repeat;
							background-size: contain;
							display: block;
							position: absolute;
							right: em(-32);
							top: 50%;
							width: em(24);
							height: em(47);
							margin-top: em(-24);
						}

						&:after {
							content: '';
							background: url("./images/services/ribbon_dot.svg") center no-repeat;
							background-size: contain;
							display: block;
							position: absolute;
							right: em(-22);
							top: 50%;
							width: em(20);
							height: em(47);
							margin-top: em(-24);
						}
					}

					.bullet {
						width: em(215);
						height: em(62);
						border-radius: em(31);
						background-color: #FFFFFF;
						box-shadow: 0 em(5) em(15) 0 rgba(0,0,0,0.06);
						position: relative;
						z-index: 10;

						@include flexbox();
						@include flex_util(start, middle);
						@include transition(all);

						&:before {
							content: '';
							background-repeat: no-repeat;
							background-position: center;
							background-size: contain;
							display: block;
							width: em(34);
							height: em(32);
							margin-left: em(20);
							margin-right: em(10);
						}

						&:after {
							font-size: em(16);
							line-height: em(20, 16);
							width: em(140, 16);
							display: block;
							text-align: left;
							font-weight: 500;
						}
					}

					&:nth-child(odd) {

						&.swiper-pagination-bullet-active .bullet {
							transform: scale(1.3) translate(em(-130),0);
						}

						.bullet {
							right: em(80);
						}
					}

					&:nth-child(even) {

						&.swiper-pagination-bullet-active .bullet {
							transform: scale(1.3) translate(em(-60),0);
						}

						.bullet {
							right: em(153);
						}
					}

					@for $i from 1 through length($slider_buttons) {
						$a: nth($slider_buttons, $i);
						$c: nth($slider_icons, $i);

						.bullet-#{$i} {
							&:before {
								background-image: url("./images/services/pag_#{$c}.svg");
							}

							&:after {
								content: '#{$a}';
							}
						}
					}

					&-active {
						background: transparent;

						.bullet {
							background: linear-gradient(270deg, #F1055C 0%, #CF2766 100%);
							box-shadow: 0 em(7) em(31) 0 rgba(221,25,98,0.33);
							color: #ffffff;
						}

						@for $i from 1 through length($slider_icons) {
							$c: nth($slider_icons, $i);

							.bullet-#{$i} {
								&:before {
									background-image: url("./images/services/pag_#{$c}_active.svg");
								}
							}
						}

						.dots {
							background-image: url("./images/services/ribbon_dot_active_small.svg");

							&:after {
								background-image: url("./images/services/ribbon_dot_active.svg");
							}
						}

						.bullet-1, .bullet-3, .bullet-5 {

						}

						.bullet-2, .bullet-4 {

						}
					}
				}
			}
		}

		@include breakpoint(768) {

			&-pagination {
				width: 100% !important;

				&-bullet {
					width: em(18);
					height: em(18);
					transform: scale(0.61);
					transition: transform 0.2s ease-out;
					margin: 0 em(5);

					&-active {
						background-color: #F1055C;
						transform: scale(1);
					}
				}
			}
		}
	}
}

.page-template-back-office-page .services {
	padding-bottom: em(900);

	@include breakpoint(768) {
		padding-bottom: 0;
	}

	$slider_buttons: (
			'Human Resources',
			'Finance and Accounting',
			'Content Moderation',
			'Claims Processing',
			'Writing and Content Creation',
			'Research',
			'Data Entry',
			'Fraud Prevention',
			'Transcription Services'
	);

	$slider_icons: (
			'hr',
			'finance',
			'content',
			'claims',
			'writing',
			'research',
			'data',
			'fraud',
			'transcription'
	);

	.right-border {
		background-color: #0B7CFE;
		max-height: 370%;
		width: em(24);

		.trigger:before {
			background: url("./images/solutions_2_hero_shape_part.png") center no-repeat;
			background-size: contain;
			width: 101%;
			height: em(28);
			position: absolute;
			left: 0;
			top: em(-1.5);
		}
	}

	.left-border {
		background: #00D2AB;
		height: 285%;
		top: em(280);
	}

	.description-cloud {
		background-color: #693AF9;
		text-align: center;
		padding: em(64, 23) em(96, 23) em(96, 23) em(96, 23);
	}

	.services-blue-shape {
		background: url("./images/solutions_2_hero_shape.svg") center no-repeat;
		background-size: contain;
		width: em(298);
		height: em(575);
		position: absolute;
		top: em(-441);
		right: em(-6);
		z-index: 10;

		@include breakpoint(768) {
			-moz-transform: scaleX(-1) rotate(6deg);
		    -o-transform: scaleX(-1) rotate(6deg);
		    -webkit-transform: scaleX(-1) rotate(6deg);
		    transform: scaleX(-1) rotate(6deg);
		    filter: FlipH;
		    -ms-filter: "FlipH";
		    width: 44vw;
		    height: 85vw;
		    right: auto;
		    left: -9vw;
		    top: -160vw;
		}
	}

	.services-title {
		color: #00CAA5;
	}

	.slider.slider-mobile {

		@include breakpoint(768) {
			padding-bottom: em(100);
		}
	}

	.services-slide {

		@for $i from 1 through length($slider_icons) {
			$c: nth($slider_icons, $i);

			.icon-#{$c} {
				background-image: url("./images/services/slide_#{$c}.svg");
			}
		}
	}

	.services-green-shape {
		background: url("./images/services/services_2_shape.svg") center no-repeat;
		background-size: contain;
		width: em(300, 74);
		height: em(700, 74);

		position: absolute;
		left: em(-241, 74);
		top: em(-300, 74);
		z-index: -1;

		@include breakpoint(768) {
	        width: em(150, 74);
		    height: em(360, 74);
		    position: absolute;
		    left: em(-20, 74);
		    top: em(-140, 74);
		}

		@include breakpoint(425px) {
			width: 33vw;
		    height: 70vw;
		    left: -4vw;
		    top: -26vw;
		}
	}

	.swiper-container {

		&._fixed {
			position: fixed;
		}

		&._fixed-bottom {
			position: absolute;
			bottom: em(-820);
		}

		@include breakpoint(768) {
			height: em(400);
		}
	}

	.swiper-pagination {

		@include minBreakpoint(769px) {

			&-bullet {

				@for $i from 1 through length($slider_buttons) {
					$a: nth($slider_buttons, $i);
					$c: nth($slider_icons, $i);

					.bullet-#{$i} {
						&:before {
							background-image: url("./images/services/pag_#{$c}.svg");
						}

						&:after {
							content: '#{$a}';
						}
					}
				}

				&-active {
					background: transparent;

					.bullet {
						background: linear-gradient(270deg, #3693FF 0%, #0A70E5 100%);
						box-shadow: 0 7px 31px 0 rgba(11,124,254,0.33);
						color: #ffffff;
					}

					@for $i from 1 through length($slider_icons) {
						$c: nth($slider_icons, $i);

						.bullet-#{$i} {
							&:before {
								background-image: url("./images/services/pag_#{$c}_active.svg");
							}
						}
					}

					.dots {
						background-image: url("./images/services/ribbon_dot_blue_active_small.svg");

						&:after {
							background-image: url("./images/services/ribbon_dot_blue_active.svg");
						}
					}
				}
			}
		}

		@include breakpoint(768) {

			&-bullet-active {
				background-color: #0A70E5;
			}
		}
	}
}

.channels {
	position: relative;

	&-wrapper {
		padding-left: em(235);
		padding-bottom: em(40);
		position: relative;
		z-index: 4;

		@include breakpoint(768) {
			font-size: 14px;
			padding-left: 0;
			padding-bottom: em(80);
		}

		@include breakpoint(550px) {
			font-size: 2.5vw;
		}
	}

	.left-border {
		width: em(21);
		min-height: 4%;
		max-height: 165%;
		position: absolute;
		left: 0;
		top: em(45);
		z-index: 10;
		background: #FFD002;
		overflow: visible !important;

		&:before {
			content: '';
			background: url("./images/channels/channels_shape_part.png") center no-repeat;
			background-size: contain;
			width: 100%;
			height: em(45);
			position: absolute;
			left: 0;
			bottom: em(-42);
		}
	}

	&-title {
		$channels_title_fsz: 74px;

		font-size: em($channels_title_fsz);
		line-height: em(74, $channels_title_fsz);
		color: #FFD002;
		margin: 0 0 em(25, $channels_title_fsz);
		position: relative;

		@include breakpoint(768) {
			padding-left: em(80, $channels_title_fsz);
		}

		&:before {
			content: 'C';
			color: #ffffff;
			display: block;
			position: absolute;
			top: 0;
			left: em(-2, $channels_title_fsz);
			font-size: 1.05em;

			@include breakpoint(768) {
				left: em(73, $channels_title_fsz);
			}
		}

		.channels-yellow-shape {
			background: url("./images/channels/channels_shape.svg") center no-repeat;
			background-size: contain;
			width: em(278, $channels_title_fsz);
			height: em(439, $channels_title_fsz);

			position: absolute;
			left: em(-235, $channels_title_fsz);
			top: em(-214, $channels_title_fsz);
			z-index: -1;

			@include breakpoint(768) {
				left: em(-145, $channels_title_fsz);
			}
		}
	}

	&-description {
		$channels_desc_fsz: 18px;

		font-size: em($channels_desc_fsz);
		line-height: em(26, $channels_desc_fsz);
		color: #484848;
		width: em(600, $channels_desc_fsz);

		@include breakpoint(768) {
			padding-left: em(80, $channels_desc_fsz);
			padding-right: em(80, $channels_desc_fsz);
			width: 100%;
		}
	}

	.swiper {

		&-container {
			width: em(420);
			padding-top: em(60);

			@include breakpoint(768) {
				font-size: 14px;
				padding-top: em(30);
			}

			@include breakpoint(550px) {
				font-size: 2.6vw;
			}

			@include breakpoint(425px) {
				font-size: 3vw;
			}
		}

		&-pagination {
			position: relative;
			bottom: auto;
			left: auto;

			&-bullet {
				$channels_bullet_fsz: 24px;

				height: em(258, $channels_bullet_fsz);
				width: em(173, $channels_bullet_fsz);
				border-radius: em(30, $channels_bullet_fsz);
				background: #FFFFFF;
				box-shadow: 0 em(1, $channels_bullet_fsz) em(15, $channels_bullet_fsz) 0 rgba(0,0,0,0.1);
				opacity: 1;
				@include transition(all, 0.1s);

				&.bullet {
					font-size: em($channels_bullet_fsz);
					position: relative;
					overflow: hidden;
					margin: 0 em(12, $channels_bullet_fsz);

					&:before {
						content: '';
						display: block;
						width: 101%;
						height: 101%;
						position: absolute;
						left: 0;
						top: 0;
						opacity: 0;
						@include transition(opacity, 0.1s);
						z-index: 1;
					}

					&:after {
						font-weight: 500;
						z-index: 2;
						position: relative;
					}

					.icon {
						text-align: center;
						padding: em(80, $channels_bullet_fsz) 0 em(60, $channels_bullet_fsz);
						display: block;
						z-index: 2;
						position: relative;

						&:before {
							content: '';
							width: em(46, $channels_bullet_fsz);
							height: em(60, $channels_bullet_fsz);
							display: block;
							margin: 0 auto;
							background-size: contain;
							background-repeat: no-repeat;
							background-position: center;
						}
					}

					&-1 {

						.icon:before {
							background-image: url("./images/channels/channels_chat.svg");
							height: em(70, $channels_bullet_fsz);
							width: em(60, $channels_bullet_fsz);
						}

						&:before {
							background: #792C8B;
						}

						&:after {
							content: 'CHAT';
						}
					}

					&-2 {

						.icon:before {
							background-image: url("./images/channels/channels_voice.svg");
							height: em(70, $channels_bullet_fsz);
						}

						&:before {
							background: #44daf5;
						}

						&:after {
							content: 'VOICE';
						}
					}

					&-3 {

						.icon:before {
							background-image: url("./images/channels/channels_in_app.svg");
							height: em(63, $channels_bullet_fsz);
						}

						&:before {
							background: #187aff;
						}

						&:after {
							content: 'IN-APP';
						}
					}

					&-4 {

						.icon:before {
							background-image: url("./images/channels/channels_email.svg");
							width: em(57, $channels_bullet_fsz);
						}

						&:before {
							background: #e82168;
						}

						&:after {
							content: 'E-MAIL';
						}
					}

					&-5 {

						.icon:before {
							background-image: url("./images/channels/channels_social.svg");
							width: em(68, $channels_bullet_fsz);
							height: em(68, $channels_bullet_fsz);
						}

						&:before {
							background: #fdd200;
						}

						&:after {
							content: 'SOCIAL';
						}
					}

					&-6 {

						.icon:before {
							background-image: url("./images/channels/channels_sms.svg");
							height: em(63, $channels_bullet_fsz);
						}

						&:before {
							background: #00CFA7;
						}

						&:after {
							content: 'SMS';
						}
					}

					&-1, &-3, &-5 {
						@include minBreakpoint(769px) {
							bottom: em(-200, $channels_bullet_fsz);
						}
						
					}
				}

				&-active {

					&.bullet {
						color: #FFFFFF;

						&:before {
							opacity: 1;
						}

						&-1 {
							box-shadow: 0 em(7) em(18) 0 rgba(138, 50, 158, 0.56);

							.icon:before {
								background-image: url("./images/channels/channels_chat_white.svg");
							}
						}

						&-2 {
							box-shadow: 0 em(7) em(18) 0 rgba(68,218,245,0.36);

							.icon:before {
								background-image: url("./images/channels/channels_voice_white.svg");
							}
						}

						&-3 {
							box-shadow: 0 em(7) em(18) 0 rgba(24,122,255,0.36);

							.icon:before {
								background-image: url("./images/channels/channels_in_app_white.svg");
							}
						}

						&-4 {
							box-shadow: 0 em(7) em(18) 0 rgba(232,33,104,0.36);

							.icon:before {
								background-image: url("./images/channels/channels_email_white.svg");
							}
						}

						&-5 {
							box-shadow: 0 em(7) em(18) 0 rgba(253,210,0,0.36);

							.icon:before {
								background-image: url("./images/channels/channels_social_white.svg");
							}
						}

						&-6 {
							box-shadow: 0 em(7) em(18) 0 rgba(4,186,151,0.36);

							.icon:before {
								background-image: url("./images/channels/channels_sms_white.svg");
							}
						}
					}
				}
			}

			@include breakpoint(768) {
				left: 50%;
			    -webkit-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			    transform: translateX(-50%);
			    white-space: nowrap;
			    font-size: 14px;
			    overflow: hidden;
			    padding-bottom: 7vw;

			    &-wrapper {
			    	overflow: hidden;
			    }

				&-bullet {
					transform: scale(0.33);
					transition: all 0.2s ease-out;

					&-active {
						transform: scale(1);

						&-prev, &-next {
							transform: scale(0.66);
						}
					}
				}
			}

			@include breakpoint(550px) {
				font-size: 2.3vw;
			}

			@include breakpoint(425px) {
				font-size: 3vw;
			}
		}
	}

	&-slide {
		text-align: center;
		background-color: #ffffff;
		//padding-top: em(88);
		padding-bottom: em(88);

		&-title {
			$slide_title_fsz: 30px;
			font-size: em($slide_title_fsz);
			line-height: em(36, $slide_title_fsz);
			text-align: center;
			font-weight: 500;
			margin: em(23, $slide_title_fsz) 0;

			&._chat {
				color: #792C8B;
			}

			&._voice {
				color: #44daf5;
			}

			&._email {
				color: #e82168;
			}

			&._sms {
				color: #06B895;
			}

			&._social {
				color: #fdd200;
			}

			&._inapp {
				color: #187aff;
			}
		}

		&-description {
			color: #484848;
			font-size: em(18);
			line-height: em(26, 18);
			text-align: center;
		}

		i {
			display: inline-block;
			margin: 0 auto;
		}

		.technical-support {
			background: url("./images/channels/channels_sms.svg") center no-repeat;
			width: em(122);
			height: em(108);
		}
	}
}